html * {
    font-size: 1.5em;
    color: #333;
    font-family: Helvetica;
}

p, a {
    margin-left: 100px;
    margin-top: 61.803398875px;
    width: 700px;
    display: block;
}

@media only screen and (max-width: 600px) {
  p, a {
      font-size: 0.9em;
      margin-left: 6.1803398875px;
      margin-top: 50px;
      width: auto;
  }
}
